@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.dark {
  background-color: #161a1d;
  background-color: #000000;
  background-color: #111216;
  color: #f8fafc;
}

.main {
  width: 90vw;
  margin: auto;
  /* background-color: #0F1524; */
}
.title {
  color: #0baaff;
  font-size: 1.7rem;
}
.light {
  background-color: #f8fafc;
  background-color: #fafafa;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: baseline;
  margin: auto;
}

.theme-icon {
  cursor: pointer;
  padding: 1rem;
  font-size: 2rem;
}

.post-body {
  width: 100%;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  font-family: "Merriweather", serif;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.post-body a {
  all: unset;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 600;
}
.post-body p {
  font-size: 1.3rem;
  padding-left: 1rem;
}
.post-body ul {
  padding-left: 1.5rem;
}
.post-body h1,
h2,
h3,
h4 {
  font-family: "Enriqueta", serif;
  padding: 1rem;
  padding-left: 0;
}
.post-body h1 {
  font-size: 1.7rem;
}
blockquote p {
  text-overflow: clip;
}
blockquote {
  padding: 0.5rem;
  color: #f8fafc;
  background-color: #292c34;
  border-radius: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.section {
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
  padding-bottom: 2rem;
}
/* pre {
  background-color: #eee;
  overflow: scroll;
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
} */
.post-body img{
  width: 100%;
}
@media only screen and (max-width: 700px) {
  .title {
    font-size: 1.2rem;
  }
  .theme-icon {
    cursor: pointer;
    font-size: 1.3rem;
  }
  .section {
    width: 100%;
    overflow: hidden;
    margin: auto;
  }
}

code {
  line-height: 2;
}

/* CSS */
.button-3 {
  appearance: none;
  background-color: #292c34;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  width: 20%;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

.button-3 a {
  all: unset;
}


